.hiddenform1 {
    visibility: hidden;
    opacity: 0.0;
    display: none;
    position: absolute;
    left: -9999999px;
}

.hiddenform2 {
    visibility: hidden;
    opacity: 0.0;
    display: none;
    position: absolute;
    left: -9999999px;
}